/TestAPI/.vs
/TestAPI/TestAPI/bin
/TestAPI/TestAPI/obj
/TestAPI/packages
/TestAPIEntityFramework/packages
/TestAPIEntityFramework/TestAPIEntityFramework/obj
/TestAPIEntityFramework/TestAPIEntityFramework/bin
/TestAPIEntityFramework/.vs
/TestAPI/DemoUnitTest/bin
/TestAPI/DemoUnitTest/obj
